manifest {
  mainScript = 'confor.nf'
  description = 'exportable pipeline'
} 

singularity {
    enabled = true
    autoMounts = true
    runOptions = "--bind /pasteur --home $HOME:/home/$USER"
    cacheDir = "/pasteur/zeus/projets/p01/Evolbioinfo/users/mamorel/.Singularity_NF/"
}

executor {
    name = 'slurm'
    queueSize = 500
	queueStatInterval = '5min'
	exitReadTimeout = '600sec'
}

process{
	shell = ['/bin/bash', '-ueo','pipefail'
    ]
	executor ='slurm'
	queue= 'bioevo'
    cpus = 1
	clusterOptions = '--qos bioevo --mem-per-cpu 1000'
    withName : info_align {
        container = 'file:///pasteur/zeus/projets/p01/Evolbioinfo/users/mamorel/.Singularity_NF/goalign_v0.3.3c.sif'
        //clusterOptions = '--qos normal -p common -c 1 --mem-per-cpu 1000'
    }
    withName : info_align_nbseq {
        container = 'file:///pasteur/zeus/projets/p01/Evolbioinfo/users/mamorel/.Singularity_NF/goalign_v0.3.3c.sif'
        //clusterOptions = '--qos normal -p common -c 1 --mem-per-cpu 1000'
    }
    withName : find_model {
        container = 'file:///pasteur/zeus/projets/p01/Evolbioinfo/users/mamorel/.Singularity_NF/iqtree.simg'
        clusterOptions = '--qos bioevo -p bioevo -c 3 --mem-per-cpu 4000'
    } 
    withName : reoptimize_tree {
        container = 'file:///pasteur/zeus/projets/p01/Evolbioinfo/users/mamorel/.Singularity_NF/iqtree.simg'
        //clusterOptions = '--qos normal -p common -c 1 --mem-per-cpu 2000'
        clusterOptions = '--qos bioevo -p bioevo -c 3 --mem-per-cpu 4000'
    }
    withName : tree_rename {
        container = 'file:///pasteur/zeus/projets/p01/Evolbioinfo/users/mamorel/.Singularity_NF/gotree.v0.3.0b.simg'
        //queue = "common"
        //clusterOptions = '--qos normal'
        //container='docker://evolbioinfo/gotree:v0.3.0b'
    }    
    withName : acr_pastml {
        //container = 'file:///pasteur/zeus/projets/p01/Evolbioinfo/users/mamorel/.Singularity_NF/pastml.v1.9.8simg'
        cpus = 2
        clusterOptions = '--mem-per-cpu 10000 --qos normal -p common'
        //queue = "common"
        //clusterOptions = '--mem-per-cpu 10000 --qos normal'
    }
    withName : simulator {
		//clusterOptions = '--mem-per-cpu 1000 --qos normal -p common'
        queue = "bioevo"
        clusterOptions = '--qos bioevo'
    }
}
