manifest {
  mainScript = 'confor.nf'
  description = 'exportable pipeline'
} 

singularity {
    enabled = true
    autoMounts = true
    runOptions = "--bind /pasteur --home $HOME:/home/$USER"
    cacheDir = "/pasteur/zeus/projets/p01/Evolbioinfo/users/mamorel/.Singularity_NF/"
}

executor {
    name = 'slurm'
    queueSize = 500
	queueStatInterval = '5min'
	exitReadTimeout = '600sec'
}

process{
	shell = ['/bin/bash', '-ueo','pipefail'
    ]
	executor ='slurm'
	queue= 'bioevo'
    cpus = 1
	clusterOptions = '--qos bioevo --mem-per-cpu 1000'

    withLabel: python {
        container = 'evolbioinfo/python-evol:v3.6richer.1'
    }

    withLabel: gotree {
        container= 'evolbioinfo/gotree:v0.3.0b'
    }

    withLabel: goalign {
        container = 'evolbioinfo/goalign:v0.3.3c'
    }

    withLabel : iqtree {
        container = 'evolbioinfo/iqtree:v2.1.3'
        clusterOptions = '--qos bioevo -p bioevo -c 3 --mem-per-cpu 4000'
    }

    withLabel : pastml {
        container = 'evolbioinfo/pastml:v1.9.33'
        cpus = 2
        clusterOptions = '--mem-per-cpu 10000 --qos normal -p common'
    }
}
