manifest {
  mainScript = 'confor.nf'
  description = 'exportable pipeline'
} 

report {
       enabled = true
       file = 'report.html'
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = "--bind /pasteur --home $HOME:/home/$USER"
}

executor {
    name = 'slurm'
    queueSize = 500
	queueStatInterval = '5min'
	exitReadTimeout = '600sec'
}

profiles {
    pasteurgalaxy{
        singularity.cacheDir='/pasteur/zeus/projets/p00/galaxy-prod/singularity'
	    process.executor ='slurm'
	    process.queue= 'common,dedicated'
	    process.clusterOptions = '--qos fast'
    }
}

process{
	shell = ['/bin/bash', '-ueo','pipefail']
    cpus = 1
    executor = 'local'

    withLabel: python {
        container = 'evolbioinfo/python-evol:v3.7.3condor'
    }

    withLabel: gotree {
        container= 'evolbioinfo/gotree:v0.3.0b'
    }

    withLabel: goalign {
        container = 'evolbioinfo/goalign:v0.3.3c'
    }

    withLabel : iqtree {
        container = 'evolbioinfo/iqtree:v1.6.8'
        cpus=5
        memory='20G'
    }

    withLabel : pastml {
        container = 'evolbioinfo/pastml:v1.9.33'
        cpus = 5
        memory='20G'
    }
}
