manifest {
  mainScript = 'condor.nf'
  description = 'exportable pipeline'
} 

report {
       enabled = true
       file = 'report.html'
}
trace {
       enabled = true
       file = 'trace.txt'
}


executor {
    name = 'slurm'
    queueSize = 100
	queueStatInterval = '5min'
	exitReadTimeout = '600sec'
}

profiles {
    pasteurgalaxy{
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.runOptions = "--no-home"
        singularity.cacheDir='/pasteur/zeus/projets/p00/galaxy-prod/singularity'
        singularity.runOptions = "--bind /pasteur"
	    process.executor ='slurm'
	    process.queue= 'common,dedicated'
	    process.clusterOptions = '--qos fast'
    }
    pasteurcluster{
	    process.executor ='slurm'
	    process.queue= 'common,dedicated'
	    process.clusterOptions = '--qos fast'
        singularity.runOptions = "--bind /pasteur --no-home"
        singularity.enabled = true
        singularity.autoMounts = true
        //singularity.runOptions = "--no-home"
    }
    docker{
        docker.enabled=true
	    docker.runOptions = "--entrypoint=''"
        process.executor ='local'
    }
}

process{
    shell = ['/bin/bash', '-ueo','pipefail']
    cpus = 1
    executor = 'local'
    memory='3G'
    maxRetries=10
    errorStrategy='retry'

    withLabel: python {
        memory='40G'
	cpus=5
        container = 'evolbioinfo/python-evol:v3.7.3condor' //to update need to add statsmodels.api and statsmodels.stats
    }

    withLabel: gotree {
        container= 'evolbioinfo/gotree:v0.4.4'
    }

    withLabel: goalign {
        container = 'evolbioinfo/goalign:v0.3.3c'
    }

    withLabel : iqtree2 {
        container = 'evolbioinfo/iqtree:v2.1.3'
        cpus=20
        memory='50G'
    }

    withLabel : iqtree {
        container = 'evolbioinfo/iqtree:v1.6.8'
        cpus=20
        memory='50G'
    }

    withLabel : pastml {
        container = 'evolbioinfo/pastml:v1.9.33'
        cpus = 20
        memory='50G'
    }

    withLabel : bayestraits {
        container = 'evolbioinfo/bayestraits:v3.0.1'
        memory='3G'
        errorStrategy='retry'
        maxRetries=3
        maxForks=50
    }
}
