manifest {
  mainScript = 'condor.nf'
  description = 'exportable pipeline'
} 

report {
       enabled = true
       file = 'report.html'
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = "--bind /pasteur --no-home"
}

executor {
    name = 'slurm'
    queueSize = 500
	queueStatInterval = '5min'
	exitReadTimeout = '600sec'
}

profiles {
    pasteurgalaxy{
        singularity.cacheDir='/pasteur/zeus/projets/p00/galaxy-prod/singularity'
	    process.executor ='slurm'
	    process.queue= 'common,dedicated'
	    process.clusterOptions = '--qos fast'
    }
    pasteurcluster{
	    process.executor ='slurm'
	    process.queue= 'common,dedicated'
	    process.clusterOptions = '--qos fast'
    }
    docker{
        singularity.cacheDir='/usr/local/singularity/'
        process.executor ='local'
        singularity.runOptions = ""
    }
}

process{
    shell = ['/bin/bash', '-ueo','pipefail']
    cpus = 1
    executor = 'local'
    memory='3G'

    withLabel: python {
        container = 'evolbioinfo/python-evol:v3.7.3condor' //to update need to add statsmodels.api and statsmodels.stats
    }

    withLabel: gotree {
        container= 'evolbioinfo/gotree:v0.3.0b'
    }

    withLabel: goalign {
        container = 'evolbioinfo/goalign:v0.3.3c'
    }

    withLabel : iqtree2 {
        container = 'evolbioinfo/iqtree:v2.1.3'
        cpus=5
        memory='5G'
    }

    withLabel : iqtree {
        container = 'evolbioinfo/iqtree:v1.6.8'
        cpus=5
        memory='5G'
    }

    withLabel : pastml {
        container = 'evolbioinfo/pastml:v1.9.33'
        cpus = 5
        memory='5G'
    }

    withLabel : bayestraits {
        container = 'evolbioinfo/bayestraits:v3.0.1'
        memory='3G'
        errorStrategy='retry'
        maxRetries=3
        maxForks=50
    }
}
